@{ Layout = null; }
@model SistemaDistribuidora.Models.UsuarioModel

<body class="main-bg">
    <div class="login-container text-c animated flipInX">
        <div>
            <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
        </div>
        <p class="text-whitesmoke">Distribuidora Beagle</p>
        <div class="container-content">
            <form class="margin-t">
                <div class="form-group">
                    @*<input type="text" class="form-control" placeholder="Usuario" required="">*@
                    <label asp-for="NombreUsuario" class="control-label"></label>
                    <input asp-for="NombreUsuario" class="form-control" />
                </div>
                <div class="form-group">
                    @*<input type="password" class="form-control" placeholder="*****" required="">*@
                    <label asp-for="Contraseña" class="control-label"></label>
                    <input asp-for="Contraseña" class="form-control" />
                </div>
                <button type="submit" class="form-button button-l margin-b">Ingrese</button>

                <a class="text-darkyellow" href="#"><small>Olvido su contraseña</small></a>
                <a class="text-darkyellow" href="#"><small>Crear nueva cuenta</small></a>
            </form>
        </div>
    </div>
    <script src="~/js/Loggin.js"></script>
</body>

