@model SistemaDistribuidora.Models.ClienteModel

@{
    ViewData["Title"] = "Create";
}

<h1>Solicitud de usuario</h1>


<hr />
<div class="row">
    @*<form asp-action="CrearSolicitudUsuarioCliente">*@
    <div class="col-md-4">
        <h4>Informacion general</h4>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RazonSocial" class="control-label"></label>
            <input asp-for="RazonSocial" class="form-control" />
            <span asp-validation-for="RazonSocial" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CUIT" class="control-label"></label>
            <input asp-for="CUIT" class="form-control" />
            <span asp-validation-for="CUIT" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ActividadComercial" class="control-label"></label>
            <input asp-for="ActividadComercial" class="form-control" />
            <span asp-validation-for="ActividadComercial" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Telefono" class="control-label"></label>
            <input asp-for="Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Dirrecion" class="control-label"></label>
            <input asp-for="Dirrecion" class="form-control" />
            <span asp-validation-for="Dirrecion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Mail" class="control-label"></label>
            <input asp-for="Mail" class="form-control" />
            <span asp-validation-for="Mail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CodigoPostal" class="control-label"></label>
            <input asp-for="CodigoPostal" class="form-control" />
            <span asp-validation-for="CodigoPostal" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        @*Informacion del contacto con el que se va a comunicar Administracion para atender los pedidos*@
        <h4>Informacion Contacto</h4>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Persona.DNI" class="control-label"></label>
            <input asp-for="Persona.DNI" class="form-control" />
            <span asp-validation-for="Persona.DNI" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Persona.Nombres" class="control-label"></label>
            <input asp-for="Persona.Nombres" class="form-control" />
            <span asp-validation-for="Persona.Nombres" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Persona.Apellidos" class="control-label"></label>
            <input asp-for="Persona.Apellidos" class="form-control" />
            <span asp-validation-for="Persona.Apellidos" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Persona.Telefono" class="control-label"></label>
            <input asp-for="Persona.Telefono" class="form-control" />
            <span asp-validation-for="Persona.Telefono" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Persona.Celular" class="control-label"></label>
            <input asp-for="Persona.Celular" class="form-control" />
            <span asp-validation-for="Persona.Celular" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Persona.Mail" class="control-label"></label>
            <input asp-for="Persona.Mail" class="form-control" />
            <span asp-validation-for="Persona.Mail" class="text-danger"></span>
        </div>
    </div>
</div>
    <div class="row">
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        @*</form>*@
    </div>




    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
